<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <title>question</title>
</head>
<body>
    <form   class="list" method="post">
        <p class="error">i know your namber {{namber}}😈</p>
        <h1>a few questions for you</h1><br/>
        <label>your favourite game</label><br/>
        <label><input type="radio" name="favourite game" value="Roblox" required/> Roblox </label><br/>
        <label><input type="radio" name="favourite game" value="Minecraft"/> Minecraft </label><br/>
        <label><input type="radio" name="favourite game" value="Geometry_Dash"/> Geometry Dash </label><br/>
        <label><input type="radio" name="favourite game" value="stumble_guys"/> stumble guys </label><br/><br/>

        <label>how mach money do you have?</label><br/>
        <label><input type="radio" name="money" value="10k+" required/> 10k+ </label><br/>
        <label><input type="radio" name="money" value="100k+"/> 100k+ </label><br/>
        <label><input type="radio" name="money" value="1m+"/> 1m+  </label><br/>
        <label><input type="radio" name="money" value="10m+"/> 10m+  </label><br/><br/>


        <label>your favourite games in roblox</label><br/>
        <label><input type="checkbox" name="roblox games" value="99_nights_in_the_forest"/> 99 nights in the forest </label><br/>
        <label><input type="checkbox" name="roblox games" value="blox_fruit"/> blox fruit </label><br/>
        <label><input type="checkbox" name="roblox games" value="hell_tower"/> hell tower </label><br/>
        <label><input type="checkbox" name="roblox games" value="build_a_boat"/> build a boat </label><br/><br/>

        <label>your favourite food</label><br/>
        <label><input type="checkbox" name="favourite food" value="pasta"/> pasta </label><br/>
        <label><input type="checkbox" name="favourite food" value="pizza"/> pizza </label><br/>
        <label><input type="checkbox" name="favourite food" value="Hamburger"/> Hamburger </label><br/>
        <label><input type="checkbox" name="favourite food" value="Sushi"/> Sushi </label><br/><br/>

        <label>your username in roblox:</label>
        <label><input type="text" name="username" placeholder="type user name" required/></label><br/><br/>

        <label>your age:</label>
        <label><input type="text" name="age" placeholder="type your age" required/></label><br/>
        <button  type="submit">submit</button>

    </form>
</body>
</html>